<div class="accordion-item  mb3  ba  bc-almost-white  js-accordion-item{% if active %}  is-active{% endif %}">
  <div class="accordion-header  relative  pv3  ph4  cp">
    <h3 class="accordion-title  f4  fw7  lh-copy  mb0">
      {{title}}
    </h3>

    <div class="accordion-indicator  absolute">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9">
        <path fill="none" stroke="#1a3782" stroke-width="2" d="M.83 1.17l6.2 6.16 6.3-6.16"/>
      </svg>
    </div>
  </div>

  <div class="accordion-reveal  over-hidden  js-accordion-reveal">
    <div class="accordion-body  measure-wide  pa4  f5  fw4  lh-copy">
      {{body}}
    </div>
  </div>
</div>
