// Vendor
@import 'vendor/normalize';
// @import 'vendor/flickity';
@import 'vendor/prism';

// Variables
@import 'vars/index';

// Functions
@import 'functions/breakpoints';
@import 'functions/colors';
@import 'functions/easing';

// Mixins
@import 'mixins/box-shadow';
@import 'mixins/breakpoints';
@import 'mixins/placeholder';

// Utilities
@import 'utilities/animation';
@import 'utilities/aspect-ratio';
@import 'utilities/background';
@import 'utilities/base';
@import 'utilities/border';
@import 'utilities/border-color';
@import 'utilities/border-radius';
@import 'utilities/border-width';
@import 'utilities/box-shadow';
@import 'utilities/clearfix';
@import 'utilities/color';
@import 'utilities/cursor';
// @import 'utilities/debug';
@import 'utilities/display';
@import 'utilities/flexbox';
@import 'utilities/font-familiy';
@import 'utilities/font-size';
@import 'utilities/font-style';
@import 'utilities/font-weight';
@import 'utilities/grid';
@import 'utilities/height';
@import 'utilities/helper';
@import 'utilities/hover';
@import 'utilities/line-height';
@import 'utilities/link';
@import 'utilities/max-width';
@import 'utilities/negative-margin';
@import 'utilities/opacity';
@import 'utilities/overflow';
@import 'utilities/position';
@import 'utilities/spacing';
@import 'utilities/state';
@import 'utilities/text-align';
@import 'utilities/text-decoration';
@import 'utilities/text-transform';
@import 'utilities/typography';
@import 'utilities/tracking';
@import 'utilities/vertical-align';
@import 'utilities/width';
@import 'utilities/z';

// Elements
@import 'elements/button';

// Modules
// @import 'modules/*';
@import 'modules/accordion';
@import 'modules/modal';

// [nexus-ui] {
//   height: 80vh;
//   width: 100vw;
// }

.sequencer__notes__wrapper {
  overflow-y: scroll;
  height: calc(48 * 12) + px;
  max-height: calc(100vh - 100px);
}

.notes__item {
  border-bottom: 2px solid black;
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
}

.effects__wrapper {
  @extend .ph2;
}

.effect__wrapper {
  @extend .relative;
  @extend .mt3;
  @extend .pt3;
  @extend .pb4;
  @extend .bt;
  @extend .bc-black;
}

.effect__title {
  position: absolute;
  top: -22px;
  left: 0px;
  background: white;

  @extend .f6;
  @extend .pa1;
  @extend .mv2;
}

.effect__label {
  position: absolute;
  margin: 0 auto;
  bottom: -15px;
  text-align: center;
  color: black;
  background: white;
  pointer-events: none;

  @extend .ba;
  @extend .bc-black;
  @extend .f7;
  @extend .pa1;
}
