// Vendor
@import 'vendor/normalize';
@import 'vendor/tippy';
// @import 'vendor/flickity';
// @import 'vendor/prism';

// Variables
@import 'vars/index';

// Functions
@import 'functions/breakpoints';
@import 'functions/colors';
// @import 'functions/easing';

// Mixins
@import 'mixins/box-shadow';
@import 'mixins/breakpoints';
@import 'mixins/placeholder';

// Utilities
// @import 'utilities/animation';
// @import 'utilities/aspect-ratio';
// @import 'utilities/background';
@import 'utilities/base';
@import 'utilities/border';
@import 'utilities/border-color';
@import 'utilities/border-radius';
@import 'utilities/border-width';
@import 'utilities/box-shadow';
// @import 'utilities/clearfix';
@import 'utilities/color';
@import 'utilities/cursor';
// @import 'utilities/debug';
@import 'utilities/display';
@import 'utilities/flexbox';
@import 'utilities/font-familiy';
@import 'utilities/font-size';
@import 'utilities/font-style';
@import 'utilities/font-weight';
@import 'utilities/grid';
@import 'utilities/height';
@import 'utilities/helper';
@import 'utilities/hover';
@import 'utilities/line-height';
// @import 'utilities/link';
@import 'utilities/max-width';
// @import 'utilities/negative-margin';
@import 'utilities/opacity';
@import 'utilities/overflow';
@import 'utilities/position';
@import 'utilities/spacing';
@import 'utilities/state';
@import 'utilities/text-align';
@import 'utilities/text-decoration';
@import 'utilities/text-transform';
@import 'utilities/typography';
// @import 'utilities/tracking';
// @import 'utilities/vertical-align';
@import 'utilities/width';
@import 'utilities/z';

// Elements
@import 'elements/button';

// Modules
// @import 'modules/*';
@import 'modules/accordion';
@import 'modules/modal';

[nexus-ui='dial'] {
  transform: scale(0.95);
}

@include breakpoint-up(md) {
  [nexus-ui='dial'] {
    transform: scale(0.9);
  }
}

$purple-light: #cc0000;
$purple-medium: #cc0000;
$purple-dark: #cc0000;

$almost-white: #fafafa;
$grey-light: #171717;
$grey-medium: #828484;
$grey-dark: #6a6b6b;

$foreground: #fafafa;
$foreground2: #262626;
$background: #171717;

* {
  color: $foreground;
}

input,
select {
  background-color: $grey-light !important;
  border: 1px solid $foreground !important;
  border-radius: 5px !important;
  color: $foreground !important;
  height: 35px !important;
  padding: 0 5px !important;
}

select {
  /* Hide the default caret */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  position: relative;
}

// Layout

h1 {
  font-family: monospace;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.of-contain {
  object-fit: contain;
}

a {
  color: $purple-medium;
}

body,
html {
  position: fixed;
  width: 100%;
  background-color: $grey-light;
}

main {
  opacity: 0;
  background-color: $grey-light;

  @include breakpoint-up(md) {
    transform: scale(0.95);
    transform-origin: center;
  }
}

main.active {
  opacity: 1;
  transition: 0.3s ease-in-out opacity;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#overlay img {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100vh;
  z-index: 1;
  max-width: 1800px;
  margin: 0 auto;
}

.wrapper.active {
  .sequencer__notes__wrapper,
  .controls__wrapper,
  .effects__wrapper,
  .slide-up-triggers__wrapper,
  .logo--mobile {
    opacity: 1;
    pointer-events: auto;
  }
}

.slide-up-triggers__wrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out opacity;
}

.sequencer__wrapper {
  background-color: $foreground;
  outline: 2px solid $foreground;
}

#sequencer {
  background-color: $foreground;
  outline: 2px solid $foreground;
}

.sequencer__notes__wrapper,
.controls__wrapper,
.effects__wrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out opacity;
}

.sequencer__notes__wrapper {
  height: 300px;
  border-radius: 1rem;
}

@include breakpoint-up(md) {
  .sequencer__notes__wrapper {
    height: 90vh;
    max-height: 800px;
  }

  .controls__wrapper,
  .effects__wrapper {
    opacity: 0.5;
  }
}

.sequencer__notes__wrapper {
  opacity: 0;
  background-color: $background;
}

.intro__wrapper {
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 800px;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  top: 30px;
  left: 0;
  right: 0;
  height: 100%;

  @extend .ph2;
  @extend .ph3-md;
}

@include breakpoint-up(md) {
  .intro__wrapper {
    top: 0;
    bottom: 0;
    height: 100%;
  }
}

.intro__wrapper.active {
  opacity: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $grey-light;
  border: 2px solid $foreground2;
  height: auto;
  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

@include breakpoint-up(md) {
  .intro {
    height: 100%;
  }
}

.sequencer__notes__wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  @extend .ph2;
  @extend .ph0-md;
}

.controls__wrapper,
.effects__wrapper {
  @extend .ph2;
  @extend .ph3-md;
}

.controls {
  background-color: $grey-light;
  // border: 2px solid $foreground2;

  @extend .w-100;
  @extend .ph3;
  // @extend .pa3;
  // @extend .br4;
  // @extend .shadow2;
}

.arrow-btn {
  // position: absolute;
  // top: -20px;
  // left: 0;
  // right: 0;
  margin: 0 auto;
  @extend .flex;
  @extend .justify-center;
  @extend .pb3;

  svg {
    padding: 10px;
    width: 40px;
    transform: rotate(90deg);
    background-color: $foreground2;
    border-radius: 100%;
    @extend .shadow2;

    * {
      fill: $foreground;
    }
  }
}

.effects__fx {
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  right: 0;
  bottom: -100vh;
  margin: 0 auto;
  transition: bottom 0.3s ease-in-out;
  z-index: 2;
  @extend .ph3;
  @extend .pt4;
  @extend .pt3-md;
}

.effects__fx.active {
  bottom: 0;
}

@include breakpoint-up(md) {
  .effects__fx {
    width: 100%;
    height: 100%;
    position: relative;
    left: auto;
    right: auto;
    margin: auto;
    margin-bottom: 1rem;
    bottom: auto;
  }
}

.effects__envelope {
  display: none;
  width: 90vw;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -200px;
  transition: bottom 0.3s ease-in-out;
  z-index: 2;
  @extend .ph3;
  @extend .pt4;
  @extend .pt3-md;
}

.effects__envelope.active {
  bottom: 0;
}

@include breakpoint-up(md) {
  .effects__envelope {
    position: relative;
    left: auto;
    right: auto;
    margin: auto;
    bottom: auto;
  }
}

.effects {
  background-color: $grey-light;
  // border: 2px solid $foreground2;

  @extend .w-100;
  @extend .ph3;
  // @extend .pa3;
  // @extend .br4;
  // @extend .shadow2;
}

//

.notes__item {
  position: relative;
  color: $foreground;
  border-bottom: 3px solid $foreground;
  background-color: $background;
  @extend .f8;
  @extend .f6-md;
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
}

.notes__item__octave {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 27px;
    width: 100%;
    border-bottom: 3px solid $background;
    z-index: 1;
  }
}

@include breakpoint-up(md) {
  .notes__item__octave {
    &:after {
      left: 73px;
    }
  }
}

.effect__wrapper {
  @extend .relative;
  @extend .pt2;
  @extend .pb3;
}

.effect__title {
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  color: $foreground;
  z-index: 90;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  @extend .f7;
  @extend .pb2;
  @extend .mb0;

  &:before,
  &:after {
    background-color: $foreground;
    opacity: 0.5;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

@include breakpoint-up(md) {
  .effect__title {
    text-align: center;
    margin: 0 auto;
    border: 0;
  }
}

.effect__label {
  text-align: center;
  overflow: hidden;
  color: $foreground;
  opacity: 0.5;
  @extend .f7;
  @extend .pt2;
  @extend .mb0;
}

.envelope__wrapper {
  position: relative;
  text-align: center;
  pointer-events: none;

  @extend .flex;
  @extend .justify-center;
}

.envelope__title {
  color: $grey-dark;
  font-weight: bold;
  overflow: hidden;

  @extend .tac;
  @extend .mla;
  @extend .mra;
  @extend .f7;
  @extend .mb3;

  &:before,
  &:after {
    background-color: $grey-dark;
    opacity: 0.5;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.envelope__hold__label {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#asteroid-begin {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.control__button {
  width: 100%;
  margin: 0 auto;
  height: 35px;
  background: transparent;
  border: 1px solid $foreground;
  color: $foreground;
  outline: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  @extend .f7;
  @extend .flex;
  @extend .justify-center;
  @extend .align-center;
  @extend .mb2;
  @extend .br2;
  @extend .shadow2;

  svg {
    width: 12px;
  }

  svg,
  svg * {
    fill: $purple-dark;
  }
}

@include breakpoint-up(md) {
  .control__button {
    height: 50px;

    svg {
      width: 20px;
    }
  }
}

.control__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.envelope__param__label {
  color: $purple-dark;

  @extend .pt2;
}

.intro__statistic {
  position: relative;
  height: 22px;

  @extend .f7;
  @extend .f6-md;
  @extend .flex;
  @extend .align-center;
  @extend .justify-end;
  @extend .justify-start-md;
}

.loading-icon {
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// progress

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: transparent;
}

@include breakpoint-up(md) {
  .progress {
    height: 5px;
  }
}

progress {
  color: transparent;
}

progress::-moz-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: transparent;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $foreground;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

// UI

.tempo__wrapper {
  height: 2rem;
}

@include breakpoint-up(md) {
  .tempo__wrapper {
    height: 30px;
  }
}

.controls__title {
  text-align: center;
  width: 100%;
  overflow: hidden;

  &:before,
  &:after {
    background-color: $grey-dark;
    opacity: 0.5;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.instrument__wrapper {
  //
}

#tempo,
#tempo input {
  width: 100% !important;
  font-size: 10px !important;
}

#instrument,
#instrument select {
  width: 100% !important;
  font-size: 10px !important;
}

@include breakpoint-up(md) {
  #instrument select,
  #tempo input {
    font-size: 15px !important;
  }
}

#asteroids-change,
#asteroids-change select {
  width: 100% !important;
  font-size: 10px !important;
}

@include breakpoint-up(md) {
  #asteroids-change,
  #asteroids-change select {
    font-size: 15px !important;
  }
}

// Warning

.blockWarning {
  color: #b30000;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.logo--mobile {
  opacity: 0;
  transition: 0.3s ease-in-out opacity;
  max-width: 10rem;
}

.bc-black {
  border-color: $foreground2;
}
