// Vendor
@import 'vendor/normalize';
// @import 'vendor/flickity';
@import 'vendor/prism';

// Variables
@import 'vars/index';

// Functions
@import 'functions/breakpoints';
@import 'functions/colors';
@import 'functions/easing';

// Mixins
@import 'mixins/box-shadow';
@import 'mixins/breakpoints';
@import 'mixins/placeholder';

// Utilities
@import 'utilities/animation';
@import 'utilities/aspect-ratio';
@import 'utilities/background';
@import 'utilities/base';
@import 'utilities/border';
@import 'utilities/border-color';
@import 'utilities/border-radius';
@import 'utilities/border-width';
@import 'utilities/box-shadow';
@import 'utilities/clearfix';
@import 'utilities/color';
@import 'utilities/cursor';
// @import 'utilities/debug';
@import 'utilities/display';
@import 'utilities/flexbox';
@import 'utilities/font-familiy';
@import 'utilities/font-size';
@import 'utilities/font-style';
@import 'utilities/font-weight';
@import 'utilities/grid';
@import 'utilities/height';
@import 'utilities/helper';
@import 'utilities/hover';
@import 'utilities/line-height';
@import 'utilities/link';
@import 'utilities/max-width';
@import 'utilities/negative-margin';
@import 'utilities/opacity';
@import 'utilities/overflow';
@import 'utilities/position';
@import 'utilities/spacing';
@import 'utilities/state';
@import 'utilities/text-align';
@import 'utilities/text-decoration';
@import 'utilities/text-transform';
@import 'utilities/typography';
@import 'utilities/tracking';
@import 'utilities/vertical-align';
@import 'utilities/width';
@import 'utilities/z';

// Elements
@import 'elements/button';

// Modules
// @import 'modules/*';
@import 'modules/accordion';
@import 'modules/modal';

// [nexus-ui] {
//   height: 80vh;
//   width: 100vw;
// }

$purple-light: #b5b7c9;
$purple-medium: #5b628d;
$purple-dark: #505483;

$almost-white: #fafafa;
$grey-light: #e5e6e6;
$grey-medium: #828484;
$grey-dark: #6a6b6b;

// Layout

a {
  color: $purple-medium;
}

main {
  opacity: 0;
  // background-color: $almost-white;
}

main.active {
  opacity: 1;
  transition: 0.3s ease-in-out opacity;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#overlay img {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100vh;
  z-index: 1;

  // .flex {
  //   display: none;
  // }
}

.wrapper.active {
  .sequencer__notes__wrapper,
  .controls__wrapper,
  .effects__wrapper,
  .signal__wrapper {
    opacity: 1;
    pointer-events: auto;
  }
}

.sequencer__notes__wrapper,
.controls__wrapper,
.effects__wrapper,
.signal__wrapper {
  opacity: 0.5;
  pointer-events: none;
  transition: 0.3s ease-in-out opacity;
}

.sequencer__notes__wrapper {
  opacity: 0;
  transition-delay: 0.3s;
  background-color: $almost-white;
}

.sequencer__intro__wrapper {
  position: relative;
}

.intro__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out opacity;

  @extend .ph3;
  @extend .pb3;
}

.intro__wrapper.active {
  opacity: 1;
  max-height: calc(100vh - 100px);
}

.intro {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.sequencer__notes__wrapper {
  overflow-y: scroll;
  height: 100vh;
  max-height: calc(100vh - 100px);
  @extend .ph3;
}

.controls__wrapper {
  @extend .ph3;
  @extend .pb3;
}

.controls {
  background-color: $grey-light;

  @extend .mb3;
  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.effects__wrapper {
  @extend .ph3;
  @extend .pb3;
}

.effects {
  background-color: $grey-light;

  @extend .mb3;
  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.signal__wrapper {
  @extend .pa3;
}

.signal {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

//

.notes__item {
  position: relative;
  color: $grey-dark;
  border-bottom: 3px solid $purple-dark;
  background-color: $almost-white;
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
}

.notes__item__octave {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 82px;
    width: 100%;
    border-bottom: 3px solid $purple-dark;
    z-index: 999;
  }
}

.effect__wrapper {
  @extend .relative;
  @extend .pt2;
  @extend .pb3;
}

.effect__title {
  color: $grey-dark;
  font-weight: bold;

  @extend .tac;
  @extend .mla;
  @extend .mra;
  @extend .f6;
  @extend .pb2;
  @extend .mb0;
}

.effect__label {
  text-align: center;
  color: $purple-dark;

  @extend .pt2;
  @extend .mb0;
  @extend .f7;
}

.envelope__wrapper {
  position: relative;
  text-align: center;
  pointer-events: none;

  @extend .flex;
  @extend .justify-center;
}

.envelope__title {
  color: $grey-dark;
  font-weight: bold;

  @extend .tac;
  @extend .mla;
  @extend .mra;
  @extend .f6;
  @extend .mb3;
}

.envelope__hold__label {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.control__button {
  width: 100%;
  height: 50px;
  background: $almost-white;
  color: $purple-dark;
  border: 0;
  outline: 0;
  cursor: pointer;

  @extend .flex;
  @extend .justify-center;
  @extend .align-center;
  @extend .mb2;
  @extend .br2;
  @extend .shadow2;

  svg,
  svg * {
    fill: $purple-dark;
  }
}

.control__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.envelope__param__label {
  color: $purple-dark;

  @extend .pt2;
}

.intro__statistic {
  position: relative;
  height: 22px;
}

.loading-icon {
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// progress

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 5px;
  background: transparent;
}

progress {
  color: transparent;
}

progress::-moz-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: transparent;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $purple-dark;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

// UI

#tempo,
#tempo input {
  width: 100% !important;
}
