// Vendor
@import 'vendor/normalize';
// @import 'vendor/flickity';
@import 'vendor/prism';

// Variables
@import 'vars/index';

// Functions
@import 'functions/breakpoints';
@import 'functions/colors';
@import 'functions/easing';

// Mixins
@import 'mixins/box-shadow';
@import 'mixins/breakpoints';
@import 'mixins/placeholder';

// Utilities
@import 'utilities/animation';
@import 'utilities/aspect-ratio';
@import 'utilities/background';
@import 'utilities/base';
@import 'utilities/border';
@import 'utilities/border-color';
@import 'utilities/border-radius';
@import 'utilities/border-width';
@import 'utilities/box-shadow';
@import 'utilities/clearfix';
@import 'utilities/color';
@import 'utilities/cursor';
// @import 'utilities/debug';
@import 'utilities/display';
@import 'utilities/flexbox';
@import 'utilities/font-familiy';
@import 'utilities/font-size';
@import 'utilities/font-style';
@import 'utilities/font-weight';
@import 'utilities/grid';
@import 'utilities/height';
@import 'utilities/helper';
@import 'utilities/hover';
@import 'utilities/line-height';
@import 'utilities/link';
@import 'utilities/max-width';
@import 'utilities/negative-margin';
@import 'utilities/opacity';
@import 'utilities/overflow';
@import 'utilities/position';
@import 'utilities/spacing';
@import 'utilities/state';
@import 'utilities/text-align';
@import 'utilities/text-decoration';
@import 'utilities/text-transform';
@import 'utilities/typography';
@import 'utilities/tracking';
@import 'utilities/vertical-align';
@import 'utilities/width';
@import 'utilities/z';

// Elements
@import 'elements/button';

// Modules
// @import 'modules/*';
@import 'modules/accordion';
@import 'modules/modal';

// [nexus-ui] {
//   height: 80vh;
//   width: 100vw;
// }

$purple-light: #b5b7c9;
$purple-medium: #5b628d;
$purple-dark: #505483;

$almost-white: #fafafa;
$grey-light: #e5e6e6;
$grey-medium: #828484;
$grey-dark: #6a6b6b;

// Layout

main,
html,
body {
  background-color: $almost-white;
}

// .wrapper {
//   background-color: $grey-light;
// }

.intro__wrapper {
  @extend .ph3;
}

.intro {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.controls__wrapper {
  @extend .ph3;
}

.controls {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.effects__wrapper {
  @extend .ph3;
}

.effects {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.signal__wrapper {
  @extend .pa3;
}

.signal {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

//

.sequencer__notes__wrapper {
  overflow-y: scroll;
  height: calc(48 * 12) + px;
  max-height: calc(100vh - 100px);
}

.notes__item {
  position: relative;
  color: $grey-dark;
  border-bottom: 3px solid $purple-dark;
  background-color: $almost-white;
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
}

.notes__item__octave {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 85px;
    width: 100%;
    border-bottom: 3px solid $purple-dark;
    z-index: 999;
  }
}

.effect__wrapper {
  @extend .relative;
  @extend .pt2;
  @extend .pb2;
}

.effect__title {
  color: $grey-dark;
  font-weight: bold;

  @extend .f6;
  @extend .mb0;
}

.effect__label {
  text-align: center;
  color: $purple-dark;

  @extend .pt2;
  @extend .mb0;
  @extend .f7;
}

.envelope__wrapper {
  position: relative;
  text-align: center;

  @extend .flex;
  @extend .justify-center;
}

.envelope__title {
  color: $grey-dark;
  font-weight: bold;

  @extend .f6;
  @extend .mb0;
}

.envelope__hold__label {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.control__button {
  width: 100%;
  height: 50px;
  background: $almost-white;
  color: $purple-dark;
  border: 0;
  outline: 0;
  cursor: pointer;

  @extend .mb2;
  @extend .br2;
  @extend .shadow2;
}

.envelope__param__label {
  color: $purple-dark;
}
