// Vendor
@import 'vendor/normalize';
@import 'vendor/tippy';
// @import 'vendor/flickity';
// @import 'vendor/prism';

// Variables
@import 'vars/index';

// Functions
@import 'functions/breakpoints';
@import 'functions/colors';
// @import 'functions/easing';

// Mixins
@import 'mixins/box-shadow';
@import 'mixins/breakpoints';
@import 'mixins/placeholder';

// Utilities
// @import 'utilities/animation';
// @import 'utilities/aspect-ratio';
// @import 'utilities/background';
@import 'utilities/base';
@import 'utilities/border';
@import 'utilities/border-color';
@import 'utilities/border-radius';
@import 'utilities/border-width';
@import 'utilities/box-shadow';
// @import 'utilities/clearfix';
@import 'utilities/color';
@import 'utilities/cursor';
// @import 'utilities/debug';
@import 'utilities/display';
@import 'utilities/flexbox';
@import 'utilities/font-familiy';
@import 'utilities/font-size';
@import 'utilities/font-style';
@import 'utilities/font-weight';
@import 'utilities/grid';
@import 'utilities/height';
@import 'utilities/helper';
@import 'utilities/hover';
@import 'utilities/line-height';
// @import 'utilities/link';
@import 'utilities/max-width';
// @import 'utilities/negative-margin';
@import 'utilities/opacity';
@import 'utilities/overflow';
@import 'utilities/position';
@import 'utilities/spacing';
@import 'utilities/state';
@import 'utilities/text-align';
@import 'utilities/text-decoration';
@import 'utilities/text-transform';
@import 'utilities/typography';
// @import 'utilities/tracking';
// @import 'utilities/vertical-align';
@import 'utilities/width';
@import 'utilities/z';

// Elements
@import 'elements/button';

// Modules
// @import 'modules/*';
@import 'modules/accordion';
@import 'modules/modal';

// [nexus-ui] {
//   height: 80vh;
//   width: 100vw;
// }

$purple-light: #b5b7c9;
$purple-medium: #5b628d;
$purple-dark: #505483;

$almost-white: #fafafa;
$grey-light: #e5e6e6;
$grey-medium: #828484;
$grey-dark: #6a6b6b;

// Screen size

.warning-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: palette(black);
  color: palette(white);
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  text-align: center;
  display: block;

  p {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    text-align: center;
    max-width: 300px;
    @extend .lh-copy;
  }
}

@media screen and (orientation: landscape) {
  .warning-overlay {
    display: none;
  }
}

@include breakpoint-up(md) {
  .warning-overlay {
    display: none;
  }
}

// Layout

a {
  color: $purple-medium;
}

main {
  opacity: 0;
  // background-color: $almost-white;
}

main.active {
  opacity: 1;
  transition: 0.3s ease-in-out opacity;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#overlay img {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100vh;
  z-index: 1;
  max-width: 1480px;
  margin: 0 auto;

  // .flex {
  //   display: none;
  // }
}

.wrapper.active {
  .sequencer__notes__wrapper,
  .controls__wrapper,
  .effects__wrapper {
    opacity: 1;
    pointer-events: auto;
  }
}

.sequencer__notes__wrapper,
.controls__wrapper,
.effects__wrapper {
  opacity: 0.5;
  pointer-events: none;
  transition: 0.3s ease-in-out opacity;
}

.sequencer__notes__wrapper {
  height: 300px;
}

@include breakpoint-up(md) {
  .sequencer__notes__wrapper,
  .controls__wrapper,
  .effects__wrapper {
    height: 90vh;
    max-height: 800px;
  }
}

.sequencer__notes__wrapper {
  opacity: 0;
  transition-delay: 0.3s;
  background-color: $almost-white;
}

.sequencer__intro__wrapper {
  position: relative;
}

.intro__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out opacity;
  height: 100%;

  @extend .ph2;
  @extend .ph3-md;
}

.intro__wrapper.active {
  opacity: 1;
  max-height: 800px;
}

.intro {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.sequencer__notes__wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  @extend .ph2;
  @extend .ph3-md;
}

.controls__wrapper {
  @extend .ph2;
  @extend .ph3-md;
}

.controls {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

.arrow-btn {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  @extend .flex;
  @extend .justify-center;

  svg {
    padding: 10px;
    width: 40px;
    transform: rotate(90deg);
    background-color: $grey-light;
    border-radius: 100%;
    @extend .shadow2;

    * {
      fill: $purple-light;
    }
  }
}

.effects__fx {
  width: 90vw;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -550px;
  margin: 0 auto;
  transition: bottom 0.3s ease-in-out;
  z-index: 2;
  @extend .ph3;
  @extend .pt4;
  @extend .pt3-md;
}

.effects__fx.active {
  bottom: 0;
}

@include breakpoint-up(md) {
  .effects__fx {
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    margin: auto;
    bottom: auto;
  }
}

.effects__envelope {
  width: 90vw;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -200px;
  transition: bottom 0.3s ease-in-out;
  z-index: 2;
  @extend .ph3;
  @extend .pt4;
  @extend .pt3-md;
}

.effects__envelope.active {
  bottom: 0;
}

@include breakpoint-up(md) {
  .effects__envelope {
    position: relative;
    left: auto;
    right: auto;
    margin: auto;
    bottom: auto;
  }
}

.effects {
  background-color: $grey-light;

  @extend .w-100;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;
}

//

.notes__item {
  position: relative;
  color: $grey-dark;
  border-bottom: 3px solid $purple-dark;
  background-color: $almost-white;
  @extend .f8;
  @extend .f6-md;
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
}

.notes__item__octave {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 27px;
    width: 100%;
    border-bottom: 3px solid $purple-dark;
    z-index: 1;
  }
}

@include breakpoint-up(md) {
  .notes__item__octave {
    &:after {
      left: 82px;
    }
  }
}

.effect__wrapper {
  @extend .relative;
  @extend .pt2;
  @extend .pb3;
}

.effect__title {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;

  color: $grey-dark;
  font-weight: bold;
  @extend .f7;
  @extend .pb2;
  @extend .mb0;
}

@include breakpoint-up(md) {
  .effect__title {
    position: relative;
    text-align: center;
    margin: 0 auto;
  }
}

.effect__label {
  text-align: center;
  color: $purple-dark;
  @extend .f7;
  @extend .pt2;
  @extend .mb0;
}

.envelope__wrapper {
  position: relative;
  text-align: center;
  pointer-events: none;

  @extend .flex;
  @extend .justify-center;
}

.envelope__title {
  color: $grey-dark;
  font-weight: bold;

  @extend .tac;
  @extend .mla;
  @extend .mra;
  @extend .f7;
  @extend .mb3;
}

.envelope__hold__label {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.control__button {
  width: 100%;
  height: 25px;
  background: $almost-white;
  color: $purple-dark;
  border: 0;
  outline: 0;
  cursor: pointer;

  @extend .f8;
  @extend .f7-md;
  @extend .flex;
  @extend .justify-center;
  @extend .align-center;
  @extend .mb2;
  @extend .br2;
  @extend .shadow2;

  svg {
    width: 12px;
  }

  svg,
  svg * {
    fill: $purple-dark;
  }
}

@include breakpoint-up(md) {
  .control__button {
    height: 50px;

    svg {
      width: 20px;
    }
  }
}

.control__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.envelope__param__label {
  color: $purple-dark;

  @extend .pt2;
}

.intro__statistic {
  position: relative;
  height: 22px;

  @extend .f7;
  @extend .f6-md;
  @extend .flex;
  @extend .align-center;
  @extend .justify-end;
  @extend .justify-start-md;
}

.loading-icon {
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// progress

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 5px;
  background: transparent;
}

progress {
  color: transparent;
}

progress::-moz-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: transparent;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $purple-dark;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

// UI

.tempo__wrapper {
  height: 2rem;
}

@include breakpoint-up(md) {
  .tempo__wrapper {
    height: 4rem;
  }
}

.instrument__wrapper {
  //
}

#tempo,
#tempo input {
  width: 100% !important;
  font-size: 10px !important;
}

#instrument,
#instrument select {
  width: 100% !important;
  font-size: 10px !important;
}

@include breakpoint-up(md) {
  #instrument select,
  #tempo input {
    font-size: 15px;
  }
}

// Warning

.blockWarning {
  color: #b30000;
}

.control__button {
  transition: opacity 0.2s ease-in-out;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
