{% extends './_layouts/master.html' %}

{% set bodyClass = 'page-home' %}

{% set loadingIcon = '
  <span class="loading-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.75 22c0 .966-.783 1.75-1.75 1.75s-1.75-.784-1.75-1.75.783-1.75 1.75-1.75 1.75.784 1.75 1.75zm-1.75-22c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm10 10.75c.689 0 1.249.561 1.249 1.25 0 .69-.56 1.25-1.249 1.25-.69 0-1.249-.559-1.249-1.25 0-.689.559-1.25 1.249-1.25zm-22 1.25c0 1.105.896 2 2 2s2-.895 2-2c0-1.104-.896-2-2-2s-2 .896-2 2zm19-8c.551 0 1 .449 1 1 0 .553-.449 1.002-1 1-.551 0-1-.447-1-.998 0-.553.449-1.002 1-1.002zm0 13.5c.828 0 1.5.672 1.5 1.5s-.672 1.501-1.502 1.5c-.826 0-1.498-.671-1.498-1.499 0-.829.672-1.501 1.5-1.501zm-14-14.5c1.104 0 2 .896 2 2s-.896 2-2.001 2c-1.103 0-1.999-.895-1.999-2s.896-2 2-2zm0 14c1.104 0 2 .896 2 2s-.896 2-2.001 2c-1.103 0-1.999-.895-1.999-2s.896-2 2-2z"/></svg>
  </span>
' %}


{% block content %}

  <div class="warning-overlay">
    <p>Sorry, this project is exclusively for desktop, please try with a bigger device/screen.</p>
  </div>

  <!-- <div id="overlay"><img data-src="/static/images/bg.gif"/></div> -->

  <section class="wrapper  pa4" id="your-element-selector">
    <div class="flex  flex-wrap">
      <!-- Controls -->
      <div class="col-4  flex  flex-wrap  controls__wrapper">
        <div class="col-24  controls">
          <div class="flex  flex-wrap  mb3">
            <img class="w-100" src="/static/images/logo-text.png" alt="">
          </div>

          <div class="flex  flex-wrap">
            <div class="col-12  pr1">
              <div class="flex  flex-wrap">
                <button id="start" class="control__button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M2 24v-24l20 12-20 12z"/></svg>
                </button>
              </div>
            </div>
            <div class="col-12  pl1">
              <div class="flex  flex-wrap">
                <button id="stop" class="control__button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24h-24z"/></svg>
                </button>
              </div>
            </div>
          </div>

          <div class="flex  flex-wrap">
            <button id="record" class="control__button  relative">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.003 3h2.997v5h-2.997v-5zm8.997 1v20h-24v-24h20l4 4zm-19 5h14v-7h-14v7zm16 4h-18v9h18v-9z"/></svg>

              <progress class="progress" value="0" max="100"></progress>
            </button>
          </div>
          <div class="flex  flex-wrap">
            <button id="reset" class="control__button">
              Reset MIDI
            </button>
          </div>

          <!-- <audio controls></audio> -->
        </div>

        <div class="col-24  controls">
          <div class="flex  flex-wrap">
            <div class="col-24  flex  flex-wrap  align-center  f7  fw7">
              Tempo:
            </div>
            <div class="col-24  flex  flex-wrap  align-center  h3">
              <div id="tempo"></div>
            </div>
          </div>

          <div class="flex  flex-wrap">
            <div class="flex  flex-wrap  mb2  fw7  f7  pt2">
              Select Synth:
            </div>
            <div id="instrument"></div>
          </div>
        </div>

        <div class="col-24  controls">
          <div class="flex  flex-wrap">
            <div class="col-24  flex  flex-wrap  pb3">
              <div class="col-24  f7  lh-copy">
                This project serves as a personal challenge to address the capabilities of audio on the web.
              </div>
            </div>

            <div class="col-24  flex  flex-wrap  pb3">
              <div class="col-24  f7  lh-copy">
                 <span class="fw7">Credits</span> (<a target="_blank" href="https://github.com/Tonejs/Tone.js">Tone</a>, <a target="_blank" href="https://github.com/nexus-js/ui">Nexus</a>, <a target="_blank" href="https://api.nasa.gov/">NASA</a>)
              </div>
            </div>

            <div class="col-24  flex  flex-wrap">
              <div class="col-24  f7  lh-copy">
                 <span class="fw7">Author</span> (<a target="_blank" href="https://mailchi.mp/1d57495ebd80/subscribe-aagentah">Aagentah</a> / <a target="_blank" href="https://www.holodan.io">holodan</a>)
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-13  col-16-md  flex  flex-wrap  sequencer__intro__wrapper">
        <div class="col-24  flex  flex-wrap  sequencer__notes__wrapper">
          <!-- Notes -->
          <div class="col-2  notes__wrapper">
            <div id="notes"></div>
          </div>
          <!-- Sequencer -->
          <div class="col-22  sequencer__wrapper">
            <div id="sequencer"></div>
          </div>
        </div>

        <div class="col-24  flex  flex-wrap  intro__wrapper  active">
          <div class="intro">
            <div class="flex  flex-wrap  justify-center  pv3">
              <div class="col-8  flex  flex-wrap  justify-center  pb3">
                <img class="mla  mra" src="/static/images/logo-text.png" alt="">
              </div>

              <div class="col-24  flex  justify-center">
                <div class="measure-wide">
                  <p class="tac  lh-copy  dn  db-md">
                    asteroidblock.io is a web-based, interactive, atmospheric pad
                    synthesizer which queries NASA's asteroid API, using
                    live proximity data to throttle initial parameters
                    of the synth.
                  </p>
                </div>
              </div>
            </div>

            <div class="flex  flex-wrap">
              <div class="col-24  col-12-md  ph3" id="asteroid-selects">
                <div class="flex  flex-wrap  pb3  mb3  bb  bc-black">
                  Select a real-world asteroid:
                </div>
                <div class="flex  flex-wrap">
                  <div id="asteroids" class="col-12  intro__statistic">
                    {{loadingIcon}}
                  </div>
                </div>

                <!-- <div class="flex  flex-wrap  pb3  mb3  bb  bc-black  pt4">
                  Select MIDI Sequence:
                </div>
                <div class="flex  flex-wrap">
                  <div id="midi-sequence" class="col-12  intro__statistic">
                    {{loadingIcon}}
                  </div>
                </div> -->
              </div>

              <div class="col-12  ph3  dn  db-md" id="asteroid-data">
                <div class="flex  flex-wrap  pb3  mb3  bb  bc-black">
                  Asteroid's Data:
                </div>
                <div class="flex  flex-wrap">
                  <div class="w-100">
                    <div class="flex  flex-wrap  pb2">
                      <div class="col-12">
                        <span class="fw7">Name:</span>
                      </div>
                      <div class="col-12  intro__statistic">
                        {{loadingIcon}}
                      </div>
                    </div>

                    <div class="flex  flex-wrap  pb2">
                      <div class="col-12">
                        <span class="fw7">Potentially Dangerous:</span>
                      </div>
                      <div class="col-12  intro__statistic">
                        {{loadingIcon}}
                      </div>
                    </div>

                    <div class="flex  flex-wrap  pb2">
                      <div class="col-12">
                        <span class="fw7">Close Approach Date:</span>
                      </div>
                      <div class="col-12  intro__statistic">
                        {{loadingIcon}}
                      </div>
                    </div>

                    <div class="flex  flex-wrap  pb2">
                      <div class="col-12">
                        <span class="fw7">Orbiting Body:</span>
                      </div>
                      <div class="col-12  intro__statistic">
                        {{loadingIcon}}
                      </div>
                    </div>

                    <div class="flex  flex-wrap  pb2">
                      <div class="col-12">
                        <span class="fw7">Est. Diamater (km):</span>
                      </div>
                      <div class="col-12  intro__statistic">
                        {{loadingIcon}}
                      </div>
                    </div>

                    <div class="flex  flex-wrap  pb2">
                      <div class="col-12">
                        <span class="fw7">Miss Distance (km):</span>
                      </div>
                      <div class="col-12  intro__statistic">
                        {{loadingIcon}}
                      </div>
                    </div>

                    <div class="flex  flex-wrap  pb2">
                      <div class="col-12">
                        <span class="fw7">Relatice Velocity (mph):</span>
                      </div>
                      <div class="col-12  intro__statistic">
                        {{loadingIcon}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="dn  flex-wrap  justify-center  pt4  w-100  f7  blockWarning">
                Please note—using Adblockers, Privacy Badger, Decentraleyes, or Brave Browser will prevent the save/export feature from working.
              </div>

              <div class="flex  flex-wrap  justify-center  pt3  w-100" id="asteroid-begin">
                <button id="begin" class="control__button" disabled>
                  Begin
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Effects -->
      <div class="col-7  col-4-md  flex  flex-wrap  effects__wrapper">
        <div class="col-24  effects  flex  flex-wrap  align-center">
          <div class="col-24  flex  flex-wrap  effect__wrapper">
            <div class="col-24  effect__title">Chorus</div>
            <div class="db  w-100  pt2" id="effect-Chorus">
              <div class="col-24  flex  flex-wrap  justify-center">
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="frequency"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Freq
                  </div>
                </div>
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="depth"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Depth
                  </div>
                </div>
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="wet"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Wet
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-24  flex  flex-wrap  effect__wrapper">
            <div class="col-24  effect__title">Reverb</div>
            <div class="db  w-100  pt2" id="effect-Reverb">
              <div class="col-24  flex  flex-wrap  justify-center">
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="decay"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Decay
                  </div>
                </div>
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="wet"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Wet
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-24  flex  flex-wrap  effect__wrapper">
            <div class="col-24  effect__title">BitCrusher</div>
            <div class="db  w-100  pt2" id="effect-BitCrusher">
              <div class="col-24  flex  flex-wrap  justify-center">
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="bits"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Bits
                  </div>
                </div>
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="wet"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Wet
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-24  flex  flex-wrap  effect__wrapper">
            <div class="col-24  effect__title">Ping Pong Delay</div>
            <div class="db  w-100  pt2" id="effect-PingPongDelay">
              <div class="col-24  flex  flex-wrap  justify-center">
                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="delayTime"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Delay
                  </div>
                </div>

                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="feedback"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Feedback
                  </div>
                </div>

                <div class="col-8  flex  flex-wrap  justify-center  relative">
                  <div class="col-24  flex  justify-center">
                    <div nexus-ui="dial" id="wet"></div>
                  </div>
                  <div class="col-24  effect__label">
                    Wet
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-24  effects  flex  flex-wrap  align-center">
          <div class="dn">
            <div id="envelope"></div>
            <div class="envelope__hold__label"></div>
          </div>

          <div class="col-24  envelope__title">Envelope</div>

          <div class="col-24  flex  justify-center">
            <div class="col-24  flex  flex-wrap">
              <div class="col-8  flex  flex-wrap">
                <div class="col-24  flex  justify-center  ph2">
                  <div id="envelopeAttack"></div>
                </div>
                <div class="col-24  flex  justify-center  align-center  f7  envelope__param__label">
                  Attack
                </div>
              </div>

              <div class="col-8  flex  flex-wrap">
                <div class="col-24  flex  justify-center  ph2">
                  <div id="envelopeRelease"></div>
                </div>
                <div class="col-24  flex  justify-center  align-center  f7  envelope__param__label">
                  Release
                </div>
              </div>

              <div class="col-8  flex  flex-wrap">
                <div class="col-24  flex  justify-center  ph2">
                  <div id="envelopeHold"></div>
                </div>
                <div class="col-24  flex  justify-center  align-center  f7  envelope__param__label">
                  Hold
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="signal__wrapper">
      <div class="flex  flex-wrap  signal">


        <div class="col-6"></div>

        <div class="col-7  envelope__wrapper  ph3">
          <div id="envelope"></div>
          <div class="envelope__hold__label"></div>
        </div>

        <div class="col-3  flex  flex-wrap  pr2">
          <div class="col-24">
            <div class="col-24  envelope__title">Envelope</div>
          </div>

          <div class="col-24  flex  flex-wrap">
            <div class="col-8  flex  flex-wrap">
              <div class="col-24  flex  justify-center  ph2">
                <div id="envelopeAttack"></div>
              </div>
              <div class="col-24  flex  justify-center  align-center  f7  envelope__param__label">
                Attack
              </div>
            </div>

            <div class="col-8  flex  flex-wrap">
              <div class="col-24  flex  justify-center  ph2">
                <div id="envelopeRelease"></div>
              </div>
              <div class="col-24  flex  justify-center  align-center  f7  envelope__param__label">
                Release
              </div>
            </div>

            <div class="col-8  flex  flex-wrap">
              <div class="col-24  flex  justify-center  ph2">
                <div id="envelopeHold"></div>
              </div>
              <div class="col-24  flex  justify-center  align-center  f7  envelope__param__label">
                Hold
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>




{% endblock %}
