{% extends './_layouts/master.html' %}

{% set bodyClass = 'page-home' %}

{% block content %}

  <section>
    <div class="flex  flex-wrap">
      <div class="col-18  flex  flex-wrap  sequencer__notes__wrapper">
        <!-- Notes -->
        <div class="col-2  ba  bc-grey">
          <div id="notes"></div>
        </div>
        <!-- Sequencer -->
        <div class="col-16  sequencer__wrapper">
          <div id="sequencer"></div>
        </div>
      </div>
      <!-- Effects -->
      <div class="col-6">
        <div class="flex  flex-wrap">
          <div class="db">Chorus:</div>

          <div id="effect-Chorus">
            <div class="col-24  flex  flex-wrap  pa2">
              <div class="col-6">
                <div class="db">
                  <div nexus-ui="dial" id="frequency"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Freq
                </div>
              </div>
              <div class="col-6">
                <div class="db">
                  <div nexus-ui="dial" id="delayTime"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Delay
                </div>
              </div>
              <div class="col-6">
                <div class="db">
                  <div nexus-ui="dial" id="depth"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Depth
                </div>
              </div>
              <div class="col-6">
                <div class="db">
                  <div nexus-ui="dial" id="wet"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Wet
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex  flex-wrap">
          <div class="db">Reverb:</div>

          <div id="effect-Reverb">
            <div class="col-24  flex  flex-wrap  pa2">
              <div class="col-8">
                <div class="db">
                  <div nexus-ui="dial" id="decay"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Decay
                </div>
              </div>

              <div class="col-8">
                <div class="db">
                  <div nexus-ui="dial" id="wet"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Wet
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex  flex-wrap">
          <div class="db">BitCrusher:</div>

          <div id="effect-BitCrusher">
            <div class="col-24  flex  flex-wrap  pa2">
              <div class="col-8">
                <div class="db">
                  <div nexus-ui="dial" id="bits"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Bits
                </div>
              </div>

              <div class="col-8">
                <div class="db">
                  <div nexus-ui="dial" id="wet"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Wet
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex  flex-wrap">
          <div class="db">PingPongDelay:</div>

          <div id="effect-PingPongDelay">
            <div class="col-24  flex  flex-wrap  pa2">
              <div class="col-8">
                <div class="db">
                  <div nexus-ui="dial" id="delayTime"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Delay
                </div>
              </div>

              <div class="col-8">
                <div class="db">
                  <div nexus-ui="dial" id="feedback"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Feedback
                </div>
              </div>

              <div class="col-8">
                <div class="db">
                  <div nexus-ui="dial" id="wet"></div>
                </div>
                <div class="tac  f7  db  pt2">
                  Wet
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Controls -->
    <div class="flex  flex-wrap">
      <div class="col-4">
        <div id="tempo"></div>
      </div>

      <div class="col-4">
        <button id="open" class="">
          Open
        </button>
      </div>
      <div class="col-4">
        <button id="start" class="">
          Start
        </button>
      </div>
      <div class="col-4">
        <button id="stop" class="">
          Stop
        </button>
      </div>
      <div class="col-4">
        <button id="reset" class="">
          Reset
        </button>
      </div>
    </div>
  </section>





{% endblock %}
