.accordion-header {
  background-color: palette(almost-white);
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.accordion-item.is-active .accordion-header {
  color: #fff;
  background-color: palette(black);
}

.accordion-reveal {
  height: 0;
  opacity: 0;
  transition: height 0.2s ease-in, opacity 0.2s ease-in;
}

.accordion-item.is-active .accordion-reveal {
  opacity: 1;
}

.accordion-indicator {
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.accordion-item.is-active .accordion-indicator {
  transform: rotate(180deg) translateY(50%);
}

.accordion-item.is-active .accordion-indicator path {
  stroke: #fff;
}
