{% set settings = settings | default({}) | merge({
  siteName: 'asteroidblock.io',
  siteDesc: 'asteroidblock.io is a web-based, interactive, atmospheric pad synthesizer which queries NASAs asteroid API, using live proximity data to throttle initial parameters of the synth.',
  version: '1',
  helper: true
}) %}

<!doctype html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{settings.siteDesc}}">
    <title>{{settings.siteName}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="{{settings.siteName}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="og:title" content="{{settings.siteName}}">
    <meta name="twitter:title" content="{{settings.siteName}}">

    <link rel="canonical" href="https://holodan.io">
    <meta property="og:url" content="https://holodan.io">
    <meta name="twitter:url" content="https://holodan.io">

    <meta property="og:site_name" content="{{settings.siteName}}">
    <meta property="og:type" content="website">

    <meta name="twitter:image" content="{{settings.siteName}}/static/images/meta-img.png">
    <meta property="og:image" content="{{settings.siteName}}/static/images/meta-img.png">
    <meta property="og:image:secure_url" content="{{settings.siteName}}/static/images/meta-img.png">

    <meta property="og:image:width" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:height" content="630">

    <meta name="description" content="{{settings.siteDesc}}">
    <meta property="og:description" content="{{settings.siteDesc}}">
    <meta name="twitter:description" content="{{settings.siteDesc}}">

    {% include '../_partials/favicon.html' %}

    <link rel="stylesheet" href="/static/styles/main.css">
  </head>

  <body{% if bodyClass is defined %} class="{{bodyClass}}"{% endif %}>
    <div class="app  relative  flex  flex-column  mvh-100">

      <main role="main">
        {% block content %}
          <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
          <p>See Twig&rsquo;s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance" target="_blank" rel="noopener">Template Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
      </main>
    </div>

    <script src="/static/scripts/vendor.js"></script>
    <!-- <script async src="https://cdn.jsdelivr.net/npm/audio-recorder-polyfill/index.js"></script> -->
    <script async src="/static/scripts/bundle.js"></script>
    <script defer data-domain="asteroidblock.io" src="https://plausible.io/js/plausible.js"></script>



    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script>
      VANTA.NET({
        el: "#your-element-selector",
        // mouseControls: true,
        // touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: '#505483',
        backgroundColor: '#fafafa',
      })
    </script> -->
  </body>
</html>
