html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $graphik;
  font-size: 16px;
  font-weight: 400;
  color: palette(almost-black);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
}

p {
  margin-top: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// input,
// select,
// textarea {
//   font-family: $system-sans;
// }
