.br0 {
  border-radius: 0;
}
.br1 {
  border-radius: 0.125rem;
}
.br2 {
  border-radius: 0.25rem;
}
.br3 {
  border-radius: 0.5rem;
}
.br4 {
  border-radius: 1rem;
}
.br-100 {
  border-radius: 100%;
}
.br-pill {
  border-radius: 999rem;
}
