body {
  outline: 1px solid #2980b9 !important;
}
article {
  outline: 1px solid #3498db !important;
}
nav {
  outline: 1px solid #0088c3 !important;
}
aside {
  outline: 1px solid #33a0ce !important;
}
section {
  outline: 1px solid #66b8da !important;
}
header {
  outline: 1px solid #99cfe7 !important;
}
footer {
  outline: 1px solid #cce7f3 !important;
}
main {
  outline: 1px solid #2f4f90 !important;
}
address {
  outline: 1px solid #1a2c51 !important;
}
div {
  outline: 1px solid #036cdb !important;
}
h1 {
  outline: 1px solid #162544 !important;
}
h2 {
  outline: 1px solid #314e6e !important;
}
h3 {
  outline: 1px solid #3e5e85 !important;
}
h4 {
  outline: 1px solid #449baf !important;
}
h5 {
  outline: 1px solid #c7d1cb !important;
}
h6 {
  outline: 1px solid #4371d0 !important;
}
p {
  outline: 1px solid #ac050b !important;
}
hr {
  outline: 1px solid #ff063f !important;
}
pre {
  outline: 1px solid #850440 !important;
}
blockquote {
  outline: 1px solid #f1b8e7 !important;
}
ol {
  outline: 1px solid #ff050c !important;
}
ul {
  outline: 1px solid #d90416 !important;
}
li {
  outline: 1px solid #d90416 !important;
}
dl {
  outline: 1px solid #fd3427 !important;
}
dt {
  outline: 1px solid #ff0043 !important;
}
dd {
  outline: 1px solid #e80174 !important;
}
figure {
  outline: 1px solid #ff00bb !important;
}
figcaption {
  outline: 1px solid #bf0032 !important;
}
