.lh-solid {
  line-height: 1;
}
.lh-title {
  line-height: 1.25;
}
.lh-copy {
  line-height: 1.5;
}

// @each $modifier, $breakpoint in $grid-breakpoints {
//   $infix: breakpoint-infix($modifier, $grid-breakpoints);
//   @include breakpoint-up($modifier, $grid-breakpoints) {
//     .lh-solid-#{$infix} { line-height: 1; }
//     .lh-title-#{$infix} { line-height: 1.25; }
//     .lh-copy-#{$infix} { line-height: 1.5; }
//   }
// }
