.z1 {
  z-index: 1010;
}
.z2 {
  z-index: 1020;
}
.z3 {
  z-index: 1030;
}
.z4 {
  z-index: 1040;
}
.z5 {
  z-index: 1050;
}
.z6 {
  z-index: 1060;
}
.z7 {
  z-index: 1070;
}
.z8 {
  z-index: 1080;
}
.z9 {
  z-index: 1090;
}
